[Unit]
Description=Route53 Dynamic DNS
After=network-online.target
Requires=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/route53-ddns-client-wrapper.sh

[Install]
WantedBy=multi-user.target
